.feedback-modal-container {
  left: 140px;

  //  Modal Base Styles
  .ant-modal-content {
    background-color: var(--modal-bg);
    border-radius: var(--border-radius-5);
    padding: 0;
  }

  .ant-modal-header {
    margin-bottom: 0;
    background-color: var(--modal-bg);
    padding: 14px 24px;

    .ant-modal-title {
      font-size: 20px;
      color: var(--primary);
      font-weight: 500;
    }
  }

  .ant-modal-close {
    color: var(--black);

    .anticon svg {
      height: 15px;
      width: 15px;
    }
  }

  //  Body Section
  .feedback-modal-body {
    border-top: 1px solid var(--modal-border);
    padding: 14px 24px;

    .mt-10 {
      margin-top: 14px;
    }

    .form-item {
      margin: 12px 0;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .title {
        font-size: 14px;
        color: var(--text-dark-green);
        font-weight: 500;
        line-height: 20px;
      }

      // Select box styling
      .ant-select-single .ant-select-selector {
        border-radius: var(--border-radius-5);
        border-color: var(--input-border) !important;
        box-shadow: none !important;
      }

      // TextArea styling
      .user-feedback-box {
        border-color: var(--input-border) !important;
        box-shadow: none;
        resize: none;
      }
    }

    .description {
      font-size: 13px;
      color: var(--text-muted-green);
      font-style: italic;

      strong {
        color: var(--primary);
      }
    }
  }

  //  Footer
  .ant-modal-footer {
    padding: 14px 24px;
    margin-top: 0;
  }
}

/*  Dropdown Selected Option Style  */
.feedback-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--primary-btn-hover-bg) !important;
}
