.knowledge-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--menu-text-color);
    background: #fff;
    border-radius: 3px;
    padding: 4px 12px;
    // font-weight: 500;
    font-size: 14px;
    color: var(--menu-hover-bg);

    &.ant-dropdown-open,
    &:hover {
        background: #D3DFD433 !important;
        border-color: #D3DFD4 !important;
        color: var(--primary) !important;

    }
}

.knowledge-dropdown {
    width: 260px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid var(--menu-text-color);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .search-input {
        border-radius: 6px;
        border: 0px;
        margin-top: 4px;
        min-height: 36px;
        outline: none !important;
        box-shadow: none !important;
    }

    .header {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 400;
        color: #246027;
        border-top: 1px solid #D3DFD4;
        border-bottom: 1px solid #D3DFD4;
        min-height: 30px;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .clear-btn {
            background: none;
            border: none;
            color: #246027;
            cursor: pointer;
            font-weight: 500;
            font-size: 12px;
        }
    }

    .checkbox-list {
        max-height: 160px;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;

        .checkbox-item {
            display: flex;
            align-items: center;
            padding: 4px;
            border-radius: 3px;

            &:hover {
                background: #D3DFD433 !important;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 8px 16px;
        gap: 12px;
        border-top: 1px solid var(--menu-text-color);

        button:first-child {
            color: var(--primary);
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}