.home-my-projects {
  padding: 37px 0 60px 0;

  .page-header {
    padding: 0;
    margin-bottom: 24px;

    .page-title {
      font-size: 30px;
      font-weight: 500;
      color: var(--primary);
      margin: 0 0;
      line-height: 30px;
    }
  }

  .agent-page-container .agent-page-body {
    padding: 0;
    height: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .home-my-projects .agent-page-container .page-header .search-input {
    width: 160px;
  }
}

@media (max-width: 479px) {
  .page-header-bottom .primary-btn {
    font-size: 11px;
  }
}
