.projects-page-container {
  .page-header {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 14px;

    .page-title {
      font-size: 18px;
      color: var(--primary);
      font-weight: 500;
    }
  }
  .projects-filter-wrapper {
    padding: 0px 14px 14px 12px;
    .projects-header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
    }

    .search-input {
      width: 300px;
      border-radius: var(--border-radius-5);
      box-shadow: none;
      border-color: #d3dfd4;
    }
  }
  .projects-page-body {
    padding: 0px 5px 5px 14px;
    overflow: auto;
    height: calc(100vh - 160px);
    margin-right: 5px;

    .projects-row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 12px;
    }
  }

  .projects-footer {
    padding: 0 18px;
    border-top: 1px solid #d3dfd4;
    display: flex;
    align-items: center;
  }
}
