.home-footer {
    width: 100%;
    padding: 60px 0;
    background: #0A2B14;
    text-align: center;

    img {
        width: 100px;
        height: auto;
        margin: 0 0 20px;
    }

    p {
        margin: 0;
        color: #D3DFD4;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.5px;
    }
}